@use '../../../styles/' as *;

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 base(2);
  width: 100%;

  @include queries(md) {
    padding: 0 base(0.5);
  }
}

.large {
  max-width: base(120);
}

.medium {
  max-width: base(82);
}

.small {
  max-width: base(60);
}
