@use "../../../../styles/index.scss" as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: base(0.5);
  ul {
    list-style-type: none;
  }
}

.logo {
  width: 75px;
  height: 75px;
  object-fit: cover;
}