@use '../../../../styles/index.scss' as *;

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav {
  align-items: center;
  display: flex;
  gap: base(0.5);
  ul {
    list-style-type: none;
  }
}

.logo {
  height: base(3.75);
  object-fit: cover;
  width: base(3.75);
}
