@use '../../../../styles/' as *;

.container {
  margin-bottom: spacing(small) !important;
  padding-top: spacing(small) !important;
}

.gridContainer {
  column-gap: spacing(medium) !important;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  margin-bottom: spacing(medium);
}

.image {
  @include queries(md) {
    height: auto;
  }
}