@use '../../../../styles/index.scss' as *;

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: base(2);
  padding-top: base(2);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: base(0.5);
}
