@use '../../../styles/' as *;

.input {
  &:focus-visible {
    outline-offset: base(0.1);
  }
}

.toggleOptionsContainer {
  border: none;
  padding: 0;
}

.toggleInput {
  &:hover {
    background-color: colors(light);
    border-color: colors(light);
  }
}

.errorMessage {
  font-weight: 700;
  padding-top: base(0.5);
  @include smallText;
}
